<!DOCTYPE html>
<html>
   <body>
      <h1>Crossbar.io Realm Templating and Auto-activation</h1>
      <p>Open JavaScript console to watch output.</p>
      <script>AUTOBAHN_DEBUG = false;</script>
      <script src="/shared/autobahn/autobahn.min.js"></script>

      <script>
         var wsuri;
         if (document.location.origin === "null" || document.location.origin === "file://") {
            wsuri = "ws://127.0.0.1:8080/ws";

         } else {
            wsuri = (document.location.protocol === "http:" ? "ws:" : "wss:") + "//" +
                        document.location.host + "/ws";
         }

         // create connections and attach to these realms:
         var realms = ['public', 'realm-user1', 'realm-user2', 'realm-user3'];

         for (var i = 0; i < realms.length; ++i) {
            (function (k) {
               var realm = realms[k];

               var connection = new autobahn.Connection({
                  url: wsuri,
                  realm: realm
               });

               connection.onopen = function (session, details) {
                  console.log("Connected to realm " + realm, details);
                  connection.close();
               };

               connection.onclose = function (reason, details) {
                  console.log("Connection lost: " + reason, details);
               }

               connection.open();
            })(i);
         }
      </script>
   </body>
</html>
