*.pyc
node.pid
*~
.DS_Store
node_modules
bower_components
node.key
key.priv
key.pub

autobahn.zip
*.mdb
*.data/*.mdb
*.data*
xbr/teststack1/master/default.pub
*.mdb
.ipynb_checkpoints
.test
authentication/tls/static/ca/
*.zip
