[Unit]
Description=Crossbar.io Demo Instance
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
Environment="PYTHONUNBUFFERED=1"
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/home/ubuntu/cpy351_1/bin/crossbar start --cbdir=/home/ubuntu/crossbarexamples/demos/_demo_launcher/.crossbar
ExecStart=/home/ubuntu/cpy351_1/bin/crossbar stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
