/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
   min-height: 100%;
   width: 100%;
}

body
{
   padding: 0;
   margin: 0;
   border: none;
   height: 100%;

   position: relative;

   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color: #fafafa;

   font-family: sans-serif;
   font-size: 14px;
}

a
{
   color: #555;
}
a:hover
{
   color: #f60;
   color: #D0B800;
}

a > img
{
   border-style: none;
}

header {
   width: 100%;
   height: 103px;
   background-color: #1b1b1b;
}

#header_inner
{
   position: relative;
   /* min-width: 960px; */
   width: 100%;
   /* max-width: 64%; */
   height: 100%;
   margin:auto;
   padding: 0;
   color: #666;
   text-align: right;
}

#demo_title
{
   font-size: 19px;
   font-weight: bold;
   color: rgb(95, 95, 95);
   display: inline-block;
   text-align: right;
   line-height: 11px;
   padding-top: 32px;
   padding-right: 5px;
}
#demo_title > span
{
   display: block;
}
#demo_title > span:first-child
{
   font-size: 35px;
   line-height: 38px;
}

.navbar-brand {
    position: absolute;

    top: 21px;
    left: 10px;
    text-decoration: none;
}

.navbar-brand > span {
   font-size: 52px;
   position: relative;
   top: -13px;
   text-decoration: none;
   border: none;
   display: none;
}

.navbar-brand > span > span:first-of-type {
  font-family: 'Play', sans-serif;
  font-weight: bold;
  color: rgb(162, 162, 162);
  padding: 0 0 0 6px;
}
.navbar-brand > span > span:last-of-type {
  font-family: 'Play', sans-serif;
  color: rgb(240, 240, 240);
}

#demo_body
{
/*    width: 850px; */
   height: 100%;
   margin: 0em auto 2em;
   position: relative;
}

.notextselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;

   cursor: default;
}


button
{
    background-color: #D4D0C8;

    border: 1px solid rgb(196, 191, 181);
    padding: 0.5em 1em;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.3), -1px 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
}
button:hover
{
    background-color: rgb(196, 188, 173);

    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.4);
}

#demo_body
{
   text-align: center;
}


.button
{

   background-color: #D9D9D9;
   background: linear-gradient(to bottom, #fff, #e1e1e1);

   color: #111;

   font-weight: 600;
   text-align: center;
   padding:0 13px;
   margin-left: 1px;


   border-radius: 4px;

   border: 1px solid rgb(121, 121, 121);

   box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;

   padding: 3px 6px;
   margin: 2px;
}


.button:hover
{
   background-color: #777;
   background: linear-gradient(to bottom, #e8e8e8, #8d8d8d);

   color: #fff;

   box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
}


.button:disabled
{
   background-color: #ddd;

   color: #aaa;
}


.armament {
  height: 70px;
  text-align: left;
  position: relative;
  top: 4em;
}



.alarmActions {
   height: 100px;
   margin-top: 1em;
}

.trigger {

}

.armamentAndAlarm {
    width: 100%;
  
    height: 8em;
}

.alarm {
  background-color: red;
  color: white;
  font-size: 25px;
  border: 3px solid rgb(178, 0, 0);
  padding: 1em;
  margin-bottom: 1em;
}

.alarmContainer {
  position: absolute;
  height: 7em;
  top: -17px;
  width: 100%;
  padding: 0 1em;
}

.alarmArmedIndicator {
  margin-left: 2em;
  margin-top: 2em;
  width: 2em;
  height: 2em;
  position: relative;
}

.trigger {
  margin-top: 1em;
}

.hidden {
  visibility: hidden;
}

.imageContainer {
  margin: 1em auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 640px;
  text-align: center;
  position: relative;
}

#image {
  width: 100%;
}

.imageContainer > span {
  padding: 4px 5px 3px;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
}