[Unit]
Description=Crossbar.io IoT Starterkit GPIO Demo
After=syslog.target network.target

[Service]
Type=simple
User=root
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/python -u /home/pi/crossbarexamples/iotcookbook/device/pi/gpio/gpio_adapter.py
Restart=always

[Install]
WantedBy=multi-user.target
