[Unit]
Description=Crossbar.io IoT Starterkit Colorama Demo
After=syslog.target network.target

[Service]
Type=simple
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/python -u /home/pi/crossbarexamples/iotcookbook/device/pi/colorama/client.py
Restart=always

[Install]
WantedBy=multi-user.target
