[Unit]
Description=Crossbar.io IoT Starterkit Dispenser Adapter
After=syslog.target network.target

[Service]
Type=simple
User=root
StandardInput=null
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/python -u /home/pi/crossbarexamples/iotcookbook/app/dispenser/adapter/dispenser.py
Restart=always

[Install]
WantedBy=multi-user.target
